@model ChangeUsernameViewModel

@{
    ViewData["Title"] = "Byt användarnamn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="edit">
    <div class="container">
        <form asp-controller="Account" asp-action="ChangeUsername" method="post">
            <div class="header">
                <h1>Byt användarnamn</h1>
            </div>

            <div class="form-group">
                <span asp-validation-for="Username"></span>
                <input type="text" asp-for="Username" maxlength="20" placeholder="Användarnamn" />
            </div>

            <div class="form-group">
                <span asp-validation-for="Password"></span>
                <input type="password" asp-for="Password" maxlength="20" placeholder="Lösenord" />
            </div>

            <div class="form-group">
                <input type="submit" value="Uppdatera" class="button" />
            </div>
        </form>
    </div>
</section>