
@{
    ViewData["Title"] = "Inställningar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="settings">
    <div class="container">
        <h1>Inställningar</h1>
        <div>
            <input type="button" class="button" value="Uppdatera information" onclick="location.href='@Url.Action("EditDetails", "Account")'" />
        </div>
        <div>
            <input type="button" class="button" value="Ändra lösenord" onclick="location.href='@Url.Action("ChangePassword", "Account")'" />
        </div>
        <div>
            <input type="button" class="button" value="Ta bort" onclick="location.href='@Url.Action("Delete", "Account")'" />
        </div>
    </div>
</section>