
@{
    ViewData["Title"] = "Logga in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />
<div class="wrapper">
    <partial name="_LoginFormPartial" />
    <div class="register-wrapper">
        <p>Är du inte medlem? <a asp-controller="User" asp-action="Register" id="register-link">Skapa ett konto</a></p>
    </div>
</div>