@model TomasosPizzaApplication.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/register.css" rel="stylesheet" />
<div class="wrapper">
    <form asp-controller="User" asp-action="Register" method="post">
        <div class="header">
            <h1>Skapa ett nytt konto</h1>
        </div>

        <div class="form-group">
            <span asp-validation-for="Username"></span>
            <input type="text" asp-for="Username" maxlength="20" placeholder="Användarnamn" />
        </div>

        <div class="form-group">
            <span asp-validation-for="Password"></span>
            <input type="password" asp-for="Password" maxlength="20" placeholder="Lösenord" />
        </div>

        <div class="form-group">
            <span asp-validation-for="ConfirmPassword"></span>
            <input type="password" asp-for="ConfirmPassword" maxlength="20" placeholder="Bekräfta lösenord" />
        </div>

        <div class="form-group">
            <span asp-validation-for="Kund.Email"></span>
            <input type="text" asp-for="Kund.Email" maxlength="50" placeholder="Email" />
        </div>

        <div class="form-group">
            <span asp-validation-for="Kund.Namn"></span>
            <input type="text" asp-for="Kund.Namn" maxlength="100" placeholder="Namn" />
        </div>

        <div class="form-group">
            <span asp-validation-for="Kund.Gatuadress"></span>
            <input type="text" asp-for="Kund.Gatuadress" maxlength="50" placeholder="Adress" />
        </div>

        <div class="form-group">
            <span asp-validation-for="Kund.Postnr"></span>
            <input type="text" asp-for="Kund.Postnr" maxlength="20" placeholder="Postnummer" />
        </div>

        <div class="form-group">
            <span asp-validation-for="Kund.Postort"></span>
            <input type="text" asp-for="Kund.Postort" maxlength="100" placeholder="Postort" />
        </div>

        <div class="form-group">
            <span asp-validation-for="Kund.Telefon"></span>
            <input type="text" asp-for="Kund.Telefon" maxlength="50" placeholder="Telefon" />
        </div>

        <div class="form-group">
            <input type="submit" value="Registrera" class="button" />
        </div>
    </form>
</div>


