
@{
    ViewData["Title"] = "Orderbekräftelse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="confirmation">
    <div class="container">
        <h1>Tack för din beställning!</h1>
        <p>
            Din order kommer att levereras inom <span id="time">60:00</span> minuter.
        </p>
    </div>
</section>

<script>
    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

    window.onload = function () {
        var fiveMinutes = 60 * 60,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>