
@{
    ViewData["Title"] = "Hem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/index.css" rel="stylesheet" />
<div class="wrapper">
    <ul>
        <li>Exempelgatan 123</li>
        <li>123 45 Stockholm</li>
        <li>08-640 99 50</li>
        <li>info@tomasos.se</li>
    </ul>
</div>