
@{
    ViewData["Title"] = "Hem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="showcase">
    <div class="container">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin velit lacus, bibendum convallis euismod eget, vestibulum eu felis.
            Nulla nulla libero, ultrices vel euismod quis, placerat sit amet nunc.
            Proin sagittis fermentum sapien, eget ullamcorper libero malesuada a.
            Integer nisl leo, luctus id tincidunt quis, interdum ut sem.
        </p>
    </div>
</section>

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="~/img/utensils.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/pizza-slice.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
        <div class="box">
            <img src="~/img/hamburger.svg" class="fill" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras fermentum, dolor non lobortis dapibus, erat nisi iaculis velit, ac egestas ante ligula nec erat.
            </p>
        </div>
    </div>
</section>

