
@{
    ViewData["Title"] = "Hem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <ul class="adress">
        <li>Exempelgatan 123</li>
        <li>123 45 Stockholm</li>
        <li>08-123 45 67</li>
        <li>info@tomasospizzeria.se</li>
    </ul>
</div>