
@{
    ViewData["Title"] = "Hem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <ul id="adress">
        <li>Exempelgatan 123</li>
        <li>123 45 Stockholm</li>
        <li>12-345 67 89</li>
        <li>info@tomasospizzeria.se</li>
    </ul>
</div>
