@model TomasosPizzaApplication.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Hem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info-wrapper">
    <ul class="info-list">
        <li>Exempelgatan 123</li>
        <li>123 45 Stockholm</li>
        <li>08-123 45 67</li>
        <li>info@tomasos.se</li>
    </ul>
</div>
