
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="admin">
    <div class="container">
        <h1>Välkommen, admin <img src="~/img/user-cog.svg" class="user" /></h1>
        <p>Här kan du ändra dina inställningar.</p>
        <div>
            <input type="button" class="button" value="Uppdatera roller" onclick="location.href='@Url.Action("ViewUsers", "Admin")'" />
        </div>
        <div>
            <input type="button" class="button" value="Ändra menyn" onclick="location.href='@Url.Action("ViewDishes", "Admin")'" />
        </div>
        <div>
            <input type="button" class="button" value="Redigera beställningar" onclick="location.href='@Url.Action("ViewOrders", "Admin")'" />
        </div>
    </div>
</section>
