@using Microsoft.AspNetCore.Identity
@using TomasosPizzaApplication.IdentityData
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@model List<ApplicationUser>

@{
    ViewData["Title"] = "Uppdatera roller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="roles">
    <div class="container">
        <div class="header">
            <h1>Uppdatera roller</h1>
            <hr />
        </div>
        <table id="users">
            <thead>
                <tr>
                    <th>Användarnamn</th>
                    <th>Roll</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    @if (user.UserName == "Admin")
                        continue;
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <select class="select">
                            @foreach (var role in RoleManager.Roles.ToList())
                            {
                                if (role.Name == "Admin")
                                    continue;
                                <option class="value">@role</option>
                            }
                        </select>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>