/* Index */
#admin {
    padding-bottom: 40px;
    padding-top: 10px;
}

#admin h1 {
    font-size: 32px;
    color: #FF6C37;
}

#admin .button {
    margin-top: 10px;
    height: 60px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FF6C37;
    color: #fff;
    width: 200px;
}

#admin .button:hover {
    cursor: pointer;
}

/* Roles */
#roles h1{
    font-size: 32px;
    color: #FF6C37;
}

#user-table {
    margin-top: 25px;
    border-collapse: collapse;
    width: 100%;
    color: #1C272B;
    margin-bottom: 20px;
}

#user-table td, #users th {
    padding: 10px;
    border: 1px solid #ddd;
}

#user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1C272B;
    color: #fff;
}

#user-table .update-row{
    text-align: center;
    width: 120px;
}

#user-table .update-row .update {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    padding: 10px;
}

#user-table .update-img {
    margin-top: 5px;
    width: 30px;
    filter: invert(46%) sepia(96%) saturate(872%) hue-rotate(336deg) brightness(100%) contrast(103%);
}




