/* Cart */
#cart {
    color: #1C272B;
    width: 40%;
    float: right;
}

#cart h1 {
    text-align: center;
    font-size: 32px;
    color: #FF6C37;
}

#cart hr {
    background-color: #1C272B;
}

#cart .price {
    padding-right: 20px;
    float: right;
}

#cart .name {
    text-align: center;
}

#cart .wrapper {
    margin-top: 20px;
    position: relative;
    list-style: none;
    padding: 20px 0 20px 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#cart .wrapper:hover {
    box-shadow: 0px 0px 6px 2px rgba(219,219,219,1);
}

/* Counter */
#cart #counter{
    display: inline;
    float: left;
}

#cart #counter img {
    width: 12px;
}

#cart #counter .delete {
    padding-right: 5px;
    filter: invert(42%) sepia(3%) saturate(33%) hue-rotate(16deg) brightness(98%) contrast(83%);
}

#cart #counter .delete:hover {
    filter: invert(24%) sepia(9%) saturate(3%) hue-rotate(16deg) brightness(101%) contrast(82%);
}

#cart #counter .counter-value {

}

#cart #counter .add {
    padding-left: 5px;
    filter: invert(46%) sepia(96%) saturate(872%) hue-rotate(336deg) brightness(100%) contrast(103%);
}

#cart #counter .add:hover {
    filter: invert(27%) sepia(32%) saturate(4467%) hue-rotate(358deg) brightness(105%) contrast(92%);
}

#cart .button {
    margin-top: 10px;
    height: 60px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FF6C37;
    color: #fff;
    width: 80%;
    text-transform: uppercase;
}

#cart .button:hover {
    cursor: pointer;
}

#cart .button-wrapper {
    text-align: center;
}