/* Checkout */
#checkout {
    padding-top: 10px;
    padding-bottom: 40px;
}

#checkout h1 {
    font-size: 32px;
    color: #FF6C37;
}

/* Items */
#items {
    width: 50%;
}

#items hr {
    background-color: #1C272B;
}

#items #counter {
    display: inline;
    float: left;
}

#items .price {
    padding-right: 20px;
    float: right;
}

#items .name {
    text-align: center;
}

#items .wrapper {
    margin-top: 20px;
    position: relative;
    list-style: none;
    padding: 20px 0 20px 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#items .wrapper:hover {
    box-shadow: 0px 0px 6px 2px rgba(219,219,219,1);
}

/* Details */
#details {
    padding-bottom: 40px;
    padding-top: 10px;
    width: 50%
}

#details input[type="text"] {
    width: 80%;
    padding: 6px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

#details .button {
    margin-top: 5px;
    height: 50px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FF6C37;
    color: #fff;
    width: 35%;
}

#details .button:hover {
    cursor: pointer;
}