/* Checkout */
#checkout {
    margin: 0 auto;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 40px;
}

#checkout h1 {
    text-align: center;
    font-size: 32px;
    color: #FF6C37;
}

#checkout .button-group{
    text-align: center;
}

#checkout .button {
    margin-top: 20px;
    height: 60px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FF6C37;
    color: #fff;
    width: 50%;
    text-transform: uppercase;
}

#checkout .button:hover {
    cursor: pointer;
}

/* Items */
#items #counter {
    display: inline;
    float: left;
}

#items .price {
    padding-right: 20px;
    float: right;
}

#items .name {
    font-size: 20px;
    text-align: center;
}

#items .wrapper {
    background-color: #f2f2f2;
    margin-top: 20px;
    position: relative;
    list-style: none;
    padding: 20px 0 20px 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#items ul{
    margin-bottom: 35px;
}

/* Calculation */
#calculation {
    padding-top: 10px;
    width: 70%;
    margin: 0 auto;
}

#calculation .total {
    font-size: 24px;
    color: #FF6C37;
}

#calculation .discount-total {
    margin-top: 40px;
    font-size: 24px;
    color: #FF6C37;
}

#calculation .discount-group {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}
