.wrapper {
    background-color: #f6f6f6;
    padding: 1.3rem;
    width: 480px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
}

.register-wrapper {
    margin-top: 0.4rem;
    font-size: 18px;
}

#register-link {
    color: #b43c0a;
}

#register-link:hover{
    border-bottom: none;
}

.header {
    margin-bottom: 0.5rem;
}

.form-group {
    margin: 0.7rem 0 0.7rem 0;
}

.button {
    border: none;
    background-color: #1551a0;
    color: #fff;
    padding: 0.9rem 0.8rem 0.9rem 0.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    margin-top: 0.4rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 0.6rem;
}

/* Validation Styles */
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
