/* Menu */
#menu {
    padding-bottom: 40px;
    padding-top: 10px;
}

#menu h1 {
    font-size: 32px;
    color: #FF6C37;
}

#menu .ingredients {
    display: inline;
}

#menu img{
    width: 30px;
}

#pizza, #pasta, #salad {
    color: #1C272B;
    width: 50%;
}

#menu-list .wrapper {
    position: relative;
    cursor: pointer;
    list-style: none;
    padding: 20px 0 20px 20px;
}

#menu-list .wrapper:hover {
    background: #fff;
}

#menu-list .name {
    font-size: 20px;
}

#menu-list .price {
    position: absolute;
    right: 45px;
    top: 0;
    padding: 30px 16px 12px 16px;
}

#menu-list img {
    width: 25px;
    float: right;
    padding-left: 25px;
}

#menu-list .add {
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 16px 12px 16px;
    filter: invert(46%) sepia(96%) saturate(872%) hue-rotate(336deg) brightness(100%) contrast(103%);
}

#menu-list .add:hover {
    filter: invert(27%) sepia(32%) saturate(4467%) hue-rotate(358deg) brightness(105%) contrast(92%);
}

#menu a {
    text-decoration: none;
    color: #1C272B;
}

/* ShoppingCart */
#cart {
    color: #1C272B;
    width: 40%;
    float: right;
}

#cart h1 {
    text-align: center;
    font-size: 32px;
    color: #FF6C37;
}

#cart hr {
    background-color: #1C272B;
}

#cart img {
    width: 25px;
}

#cart .price {
    padding-right: 20px;
    float: right;
}

#cart .name{
    padding-left: 35px;
}

#cart .wrapper {
    position: relative;
    cursor: pointer;
    list-style: none;
    padding: 20px 0 20px 20px;
}

#cart .wrapper:hover {
    background: #fff;
}

#cart .remove {
    position: absolute;
    left: 0;
    top: 0;
    padding: 18px 16px 16px 18px;
    filter: invert(42%) sepia(3%) saturate(33%) hue-rotate(16deg) brightness(98%) contrast(83%);
}

#cart .remove:hover {
    filter: invert(24%) sepia(9%) saturate(3%) hue-rotate(16deg) brightness(101%) contrast(82%);
}

#cart .button {
    margin-top: 10px;
    height: 60px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FF6C37;
    color: #fff;
    width: 80%;
    text-transform: uppercase;
}

#cart .button:hover{
    cursor: pointer;
}

#cart .button-wrapper{
    text-align: center;
}