
/* main-color: #1C272B */
/* second-color: #FF6C37 */

body {
    background-color: #fcfcfc;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global */
.container {
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}


header {
    background-color: #1C272B;
    color: #fff;
    padding-top: 40px;
    min-height: 70px;
    border-bottom: 3px solid #FF6C37;
}

header a {
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header #logo {
    font-size: 32px;
    text-transform: none;
}

header #logo:hover {
    color: #fff;
}

header nav {
    float: right;
}

header .highlight {
    color: #FF6C37;
}

header a:hover {
    color: #FF6C37;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background-color: #1C272B;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 55px;
}

#showcase p {
    font-size: 20px;
}

/* Boxes */
#boxes {
    margin-top: 35px;
    margin-bottom: 10px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    color: #1C272B;
    width: 90px;
    padding-bottom: 10px;
}

.fill {
    filter: invert(12%) sepia(17%) saturate(732%) hue-rotate(150deg) brightness(93%) contrast(93%);
}

/* Footer */
footer {
    padding: 32px;
    margin-top: 20px;
    color: #fff;
    background-color: #FF6C37;
    text-align: center;
}

/* Login */
#login {
    padding-bottom: 40px;
    padding-top: 10px;
}

#login h1 {
    font-size: 32px;
    color: #FF6C37;
}

#login input[type="text"], input[type="password"]{
    width: 350px;
    padding: 6px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

#login .button {
    margin-top: 5px;
    height: 50px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FF6C37;
    color: #fff;
    width: 120px;
}

#login .button:hover{
    cursor: pointer;
}

/* Register */
#register {
    padding-bottom: 40px;
    padding-top: 10px;
}

#register h1 {
    font-size: 32px;
    color: #FF6C37;
}

#register input[type="text"], input[type="password"] {
    width: 350px;
    padding: 6px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

#register .button {
    margin-top: 5px;
    height: 50px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FF6C37;
    color: #fff;
    width: 120px;
}

#register .button:hover {
    cursor: pointer;
}

/* Error Messages */
.field-validation-error {
    color: #f00;
    font-size: 14px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
    display: block;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding, 
    header nav, 
    header nav li,
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }

    header h1 {
        padding-bottom: 20px;
    }

    header nav {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        line-height: 1em;
    }

    #showcase p {
        padding-bottom: 20px;
    }
}
