/* Layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    background-color: #f6f6f6;
    color: #1551a0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.container {
    min-height: 100%;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: -75px;
}

/* Header & Navbar */
#header {
    text-align: center;
    padding: 2rem 2rem 1rem 2rem;
    color: #1551a0;
    margin-bottom: 1rem;
}

.branding {
    color: #b43c0a;
}

#logo{
    font-size: 24px;
    font-weight: bold;
    padding-right: 2rem;
    margin-bottom: 1.5rem;
}

.logo-link:hover {
    border-bottom: none;
}

.fa-pizza-slice {
    padding-left: 0.5rem;
    padding-right: 0.7rem;
}

.nav-item {
    display: inline;
    text-transform: uppercase;
    padding: 0 1rem 0 0;
}

li{
    list-style: none;
}

a {
    color: #1551a0;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #1551a0;
}

/* Footer */
#footer, .push {
    height: 75px;
}

#footer {
    border-top: 1px solid #1551a0;
    text-align: center;
    padding-top: 1rem;
    margin: auto;
    width: 70%;
    vertical-align: middle;
    line-height: 40px;
}

/* Home */
.adress {
    margin-top: 12rem;
    text-transform: uppercase;
    text-align: center;
    color: #b43c0a;
    padding-bottom: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

/* Media Queries */
@media (max-width: 720px){
    .nav-item{
        display: block;
        line-height: 2.3em;
    }

    a:hover {
        cursor: pointer;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #1551a0;
    }

    .adress {
        margin-top: 7rem;
    }
}