<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header id="header">
            <h1 id="logo"><a asp-controller="Home" asp-action="Index" class="logo-link">Tomasos<span class="branding"> Pizzeria</span></a></h1>
            <nav>
                <ul>
                    <li class="nav-item"><a asp-controller="Home" asp-action="Order">Beställa</a></li>
                    <li class="nav-item"><a asp-controller="User" asp-action="Login">Logga in</a></li>
                </ul>
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
        <div class="push"></div>
    </div>
    <footer id="footer">
        <p>&copy; Tomasos Pizzeria @DateTime.Now.Year</p>
    </footer>
</body>
</html>
