@using Microsoft.AspNetCore.Identity
@using TomasosPizzaApplication.IdentityData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <nav>
        <ul>
            <li><a asp-controller="Order" asp-action="ViewMenu">Beställa</a></li>
            <li><a asp-controller="Account" asp-action="Settings">@UserManager.GetUserName(User)</a></li>
            <li><a asp-controller="User" asp-action="Logout">Logga ut</a></li>
        </ul>
    </nav>
}
else
{
    <nav>
        <ul>
            <li><a asp-controller="User" asp-action="Login">Logga in</a></li>
            <li><a asp-controller="User" asp-action="Register">Registrera</a></li>
        </ul>
    </nav>
}