@using Microsoft.AspNetCore.Identity
@using TomasosPizzaApplication.IdentityData
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <nav>
        <ul>
            <li class="nav-item"><a asp-controller="Account" asp-action="EditDetails">Konto (@UserManager.GetUserName(User))</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Logout">Logga ut</a></li>
            <li class="nav-item"><a asp-controller="Home" asp-action="Index">Beställa</a></li>
        </ul>
    </nav>
}
else
{
    <nav>
        <ul>
            <li class="nav-item"><a asp-controller="User" asp-action="Login">Logga in</a></li>
            <li class="nav-item"><a asp-controller="Home" asp-action="Index">Beställa</a></li>
        </ul>
    </nav>
}