<nav>
    <ul>
        <li class="nav-item"><a asp-controller="User" asp-action="Login">Logga in</a></li>
        <li class="nav-item"><a asp-controller="Home" asp-action="Index">Beställa</a></li>
    </ul>
</nav>

@* If signed in display "Logga ut" and "Mina sidor"  *@